[submodule "rivet-code-challenge"]
	path = rivet-code-challenge
# 	url = git@github.com:sawalls/rivet-code-challenge.git
	url = https://github.com/sawalls/rivet-code-challenge.git
[submodule "reversed-backend"]
	path = reversed-backend
# 	url = git@github.com:sawalls/reversed-backend.git
	url = https://github.com/sawalls/reversed-backend.git
